.ruler {
  width: 500px;
  height: 300px;
  margin: 100px 0;
  position: relative;
  background: url(./images/ruler.png);
  background-color: #adddee;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;
}
.human {
  display: block;
  width: 36px;
  height: 60px;
  position: absolute;
  bottom: 70px;
  background: url(./images/child.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-left: 1px solid #000;
}
.ruler:hover .human {
  width: 44px;
  left: 100px;
  background: url(./images/child.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#take2 {
  background-color:#eceeaa;
}
#take2:hover .human {
  height: 210px;
  left: 400px;
}